h1{
   
    color:white;
    font-family: var(--font-primary-bold );
    font-size: 3rem;
    text-align: center;
    padding: 32px;
    z-index: 30;
}


h2{

    font-family: var(--font-primary-bold);
    font-size: 2.5rem;
    margin-bottom: 32px;
    .grey{
        color: var(--color-gris-dark);
    }

    .pink{
        color: var(--color-rose);
    }
}


.h2-seo {

    &.end{
        align-items: end;
        padding-right: 10%;
    }
    &.center{
        align-items: center;
    }

    &.start{
        align-items: start;
        padding-left: 10%;
    }

    display: flex;
    flex-direction: column;


    h2 {
        margin-bottom: 8px;
    }
    p {
        font-size: 0.8rem;
    }
}


h3{

    font-family: var(--font-primary-bold);
    font-size: 1.5rem;
    margin-bottom: 32px;
    .grey{
        color: var(--color-gris-dark);
    }

    .pink{
        color: var(--color-rose);
    }
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

	@media only screen and (max-width:960px) {
        flex-direction: column;
    }


    .link{

     

        flex-grow: 1;
        text-align: center;
        cursor: pointer;
        font-family:var(--font-secondary-light);
        color:var(--color-gris);

        &.active{
            font-family: var(--font-secondary-semibold);
            font-weight: 700;
            color: var(--color-bleu);
        }
    }
}

.swiper-container{
    height: 60vh;
    width: 100%;
    overflow: hidden;

    .swiper-slide{
        width: 100%;

       
    }
}

.swiper-gomette{
    .swiper-slide-active{
        transform: scale(1.5);
    }
}
.pagination{

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .swiper-pagination-bullet{
        transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        background-color: var(--color-gris);
        margin: 8px;
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 500px;

        &.swiper-pagination-bullet-active{
            background-color: var(--color-bleu);
        }
    }
}

.btn{
    transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border-radius: 32px;
    font-family: var(--font-primary-semibold);
    background-color: var(--color-rose);
    padding: 10px 20px;
    display: inline;
    width: fit-content;
    color: #fff;
    cursor: pointer;

    &.blue{
        background-color: var(--color-bleu);
    }
}

p{
    font-family: var(--font-secondary-light);
}
