h1{
   
    color:white;
    font-family: var(--font-primary-bold );
    font-size: 6rem;
    text-align: center;
    padding: 32px;
    z-index: 30;

    @media only screen and (max-width:960px) {
        font-size: 4rem;
    }

}


h2{

    font-family: var(--font-primary-bold);
    font-size: 3rem;
    margin-bottom: 32px;
    line-height: 64px;
    

    @media only screen and (max-width: 960px) {
        margin-bottom: 24px;
        line-height: 32px;
        
    }


    &.grey ,   
    .grey{
        color: var(--color-gris-dark);
    }

    &.pink, 
    .pink{
        color: var(--color-rose);
    }
}


.h2-seo {

    &.end{
        align-items: end;
        padding-right: 10%;

        @media only screen and (max-width: 960px) {
            align-items: center !important;
            padding-left: 0%;
            padding-right: 0%;
        }

    }
    &.center{
        align-items: center;
    }

    &.start{
        align-items: start;
        padding-left: 10%;
    }

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 960px) {
        margin-bottom: 64px;
    }


    h2 {
        margin-bottom: 8px;

    }
    p {
        font-size: 0.8rem;
    }

}


h3{

    font-family: var(--font-primary-bold);
    font-size: 2rem;
    margin-bottom: 32px;
    &.grey , .grey{
        color: var(--color-gris-dark);
    }

    &.pink , .pink{
        color: var(--color-rose);
    }
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

	@media only screen and (max-width:960px) {
        flex-direction: column;
    }


    .link{

     
        text-align: center;
        cursor: pointer;
        font-family:var(--font-secondary-medium);
        color:var(--color-gris);
        font-size: 1.4rem;
        &.active{
            font-family: var(--font-secondary-semibold);
        
            color: var(--color-bleu);
        }
    }
}

.swiper-container{
    height: 60vh;
    width: 100%;
    overflow: hidden;

    .swiper-slide{
        width: 100%;

       
    }
}

.swiper-gomette{
    .swiper-slide-active{
        transform: scale(2);
    }
}
.pagination{

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .swiper-pagination-bullet{
        transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        background-color: var(--color-gris);
        margin: 8px;
        width: 24px;
        height: 24px;
        display: block;
        border-radius: 500px;

        &.swiper-pagination-bullet-active{
            background-color: var(--color-bleu);
        }
    }
}

.btn{
    transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border-radius: 32px;
    font-family: var(--font-primary-semibold);
    background-color: var(--color-rose);
    padding: 10px 20px;
    display: inline;
    width: fit-content;
    color: #fff;
    cursor: pointer;

    &.blue{
        background-color: var(--color-bleu);
    }
}

.btn:hover{

    background-color: var(--color-gris) !important;

}

p{
    font-family: var(--font-secondary-light);
    line-height: 32px;
    color: var(--color-gris-dark);
}

.pending{
    color: orange;
    
}
.error{
    color:red;
}

.success{
    color: green;
}


